@media screen and (max-width: 1024px) {
    .container {
        width: calc( 100% - 30px);
        max-width: 100%;
        margin: 0 auto;
    }

    .submit-img {
        display: none;
    }

    .submit-form {
        width: 100%;
    }

    .register-form {
        padding: 93px 80px 90px 80px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {

    .submit-content {
        width: 100%;
    }

    .form-radio-item {
        margin-right: 15px;
    }

    .register-form {
        padding: 93px 30px 90px 30px;
    }
}

@media screen and (max-width: 768px) {
    .form-row {
        @include flex-direction(column);
        margin: 0px;
    }

        .form-row .form-group {
            width: 100%;
            padding: 0 0px;
        }
}


    @media screen and (max-width: 480px) {
        .submit {
            width: 100%;
        }
    }
        #submit {
            margin-bottom: 2px;
            margin-right: 0px;
        }
    



.p-l-50 {
    padding-left: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-t-72 {
    padding-top: 72px;
}

.p-b-59 {
    padding-bottom: 59px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.submit-content {
    display: flex;
    display: -webkit-flex;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

p {
    margin: 0px;
    font-weight: 600;
    color: #fff;
}

h2 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins';
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

body {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
    font-family: 'Poppins';
    margin: 0px;
    padding: 50px 0;
    background-color: #128fa7;
}

.main {
    position: relative;
}

.container {
    left: 20%;
    width: 1400px;
    margin: 60px auto;
    background: #fff;
}

p {
    margin: 0px;
    font-weight: 600;
    color: #094753;
}

h1 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #094753;
    font-family: 'Poppins';
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.submit-img {
    position: relative;
    width: 100%;

}

    .submit-img .overlay-bg {
        opacity: .5;
        background-image: linear-gradient(to top, #b2cfe6 0%, #149FBB 100%);
    }

.overlay {
   position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0px;
}

.submit-img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 45px;
}

.submit-img-content:first-of-type {
    animation: showup 7s infinite;
}

submit-img-content:last-of-type {
     width: 0;
     animation: reveal 7s infinite;
}

.submit-img-content:last-of-type h2 p {
        margin-left: -500px;
        animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 355px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 355px;
    }
}

.submit-form {
    padding: 20px 70px 20px 20px;
    margin-bottom: -8px;
    width: 500px;
    margin-top: -2px;
}
@media screen and(max-width: 540px){
    .submit-form{
        width:100%;
    }
    .wrap-submit{
       outline-style:none;
    }
}

label, input {
    display: block;
    width: 100%;
}

label {
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 7px;
    padding: 15px;
}


input {
    box-sizing: border-box;
    border: 2px solid #149FBB;
    padding: 14px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins';
}

input:focus {
    border: 1px solid #329e5e;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

label.required {
    position: relative;
}

label.required:after {
     content: '*';
     margin-left: 2px;
     color: #b90000;
}

.submit-form-title {
    display: block;
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
}


.label-submit {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #094753;
    line-height: 1.5;
}


.focus-submit {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}


.wrap-submit {
    width: 520px;
    min-height: 100vh;
    background: #fff;
    border-radius: 2px;
    position: relative;
}

.container-signup-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.wrap-signup-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
}

.signup-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300%;
    bottom: -100%;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    transition-duration: 0.4s;
}


.signup-form-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: auto;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #094753;
    line-height: 1.2;
    border-radius: 4px;
    background-color: #149FBB;
    border: none;
}

.signup-form-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.signup-form-button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
}

.signup-form-button:hover span {
        padding-right: 25px;
}

.signup-form-button:hover span:after {
            opacity: 1;
            right: 0;
}

